body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#game {
    width: 100%;
    height: 100%;
}

.hud {
    position: absolute;
    top: 4px;
    left: 4px;
    color: white;
    font-family: monospace;
}