body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: monospace;
}

#game {
    width: 100%;
    height: 100%;
}
#game canvas  {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 4px;
    left: 4px;
}
.overlay a {
    color: white;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.menu button {
    margin: 8px;
    cursor: pointer;
}


.mobilestick {
    position: fixed;
    vertical-align: bottom;
}
.mobilestick .debug {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 0px;
    color: white;
    font-size: 10px;
}
#dpad {
    left: 10px;
    bottom: 10px;
}
#aim {
    right: 10px;
    bottom: 10px;
}
a {
    color: white;
}
a:visited {
    color: white;
}